php_flag magic_quotes_gpc off
AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} \.(ini|php)$
# RewriteRule ^(.*) index.php [L,QSA]
RewriteRule !\.(js|gif|jpg|png|css)$ index.php [L,QSA]
</IfModule>

