body{
	padding-top: 60px;
}
.form-horizontal .control-label{
	width: 130px;
	text-align: left;
}
.form-horizontal .controls{
	margin-left: 130px;
}
.ul-list{
	list-style-type: none;
	margin: 0;
}

.ul-list span{
	border: 1px solid #eee;
	background-color: #fff;
	padding: 5px 10px;
	display: block;
	margin: 5px 0;
}

.ul-list .btn-action{
	border: none;
	padding: 0;
	display: block;
	margin: 0;
	float: right;
}

.ul-list li > ul{
	list-style-type: none;
}

#drop-files {
	position:relative;
	width: 500px;
	height: 140px;
	background: rgba(0,0,0,0.1);
	border-radius: 10px;
	border: 4px dashed rgba(0,0,0,0.2);
	padding-top:80px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

#drop-files p {
	clear:none;
	padding:0;
	margin:0;
}

#uploaded-holder {
	display: none;
	position:relative;
	margin: 0 auto;
}

#dropped-files {
	display:block;
	width: 650px;
}

#upload-button {
	z-index: 9999;
	display: none;
	margin: 20px 0;
}

.drop-button {
	display: block;
	position: absolute;
	z-index: 9999;
	padding: 5px;
	width: 100%;
	background: rgba(0,0,0,0.6);
	font-size: 1em;
	bottom: 0;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	color: #FFF;
	cursor: pointer;
}

.drop-button:hover{
	text-decoration: underline;
	color: red;
}

#dropped-files .image {
	position: relative;
	height: 133px;
	width: 200px;
	border: 4px solid #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	background: #fff;
	float: left;
	border-radius: 4px;
	margin: 0 7px 7px 0;
	overflow: hidden;
}

.delimg{
	float:left;
	border-radius:3px;
	margin:3px;
	width: 150px;
	height: 100px;
	border:1px solid #78866b;
	padding: 10px;
	overflow: hidden;
	cursor: pointer;
	margin: 10px 20px 10px 0;
}

.delimg form{
	margin: 0;
}

.delimg img{
	float:left;
	width: 80%;
}

.delimg input[type='submit']{
	float:right;
	position:relative;
	margin-right:5px;
	margin-top:3px;
}

.delimg:hover{
	background-color:#ccc;
}

.delete {
	width: 20px;
	height: 20px;
	background-image:url(images/x_red.gif);
	font-weight:bold;
	color:white;
	box-shadow: none;
}

.table .moduleName{
	background-color: #eaeaea;
}

.table .userGroup{
	text-align: center;
}

.table .eventLine{
	background-color: #f9f9f9;
}

.table .event{
	text-align: center;
}

.column {
    width: 170px;
    float: left;
    padding-bottom: 25px;
}

.column.box-content{
	background-color: #fff;
	padding: 15px 15px 5px 15px;
	margin-right: 25px;
}

.column.box-content h4{
	margin: 0;
	margin-bottom: 10px;
}

.column .ui-widget-content{
	border: none;
}

.portlet {
	margin-bottom: 10px;
}

.column .portlet .portlet-header {
	padding: 6px 12px;
    position: relative;
    border-radius: 0;
    border: none;
    font-size: 14px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #0088cc;
    color: white;
    border: none;
    cursor: pointer;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    cursor: pointer;
}

.portlet-content {
    padding: 10px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 70px;
}

/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 0; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }

/**
 * Socialite
 */

.socialite { display: block; float: left; height: 35px; }